        .parallax {
            perspective: 1px;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            perspective-origin-x: 100%;
        }

        .parallax__layer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin-x: 100%;
        }

        .parallax__layer--base {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        .parallax__layer--back {
            -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
        }

        .parallax__layer--deep {
            transform: translateZ(-2px) scale(3);
        }

        .parallax__group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;
            /*transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
        }

        /* demo styles
 --------------------------------------------- */

        * {
            margin: 0;
            padding: 0;
        }

        body {
            font: 100% / 1.5 Arial;
        }

        .parallax {
            font-size: 200%;
        }

        /* add some padding to force scrollbars */
        .parallax__layer {
            padding: 100vh 0;
        }

        /* centre the content in the parallax layers */
        .title {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        /* misc
        --------------------------------------------- */
        .demo__info {
            position: absolute;
            z-index: 100;
            bottom: 1vh;
            top: auto;
            font-size: 80%;
            text-align: center;
            width: 100%;
        }

